<div class="container"><br>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" *ngFor="let t of tableHeaders">{{t}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let u of users">
                <th scope="row">{{u.id}}</th>
                <td>{{u.fName}}</td>
                <td>{{u.lName}}</td>
                <td>{{u.email}}</td>
                <td><button class="btn btn-info">Display</button></td>
                <td><button class="btn btn-warning">Edite</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" *ngFor="let w of tableHeadersMontre">{{w}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let m of montres">
                <th scope="row">{{m.id}}</th>
                <td>{{m.price}}</td>
                <td>{{m.marque}}</td>
                <td>{{m.name}}</td>
                <td>{{m.description}}</td>
                <td><button class="btn btn-info" (click)="displayWatch(m.id)">Display</button></td>
                <td><button class="btn btn-warning" (click)="updateWatch(m)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="deleteWatch(m)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>